* {
  margin: 0px;
  padding: 0px;
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Bungee Hairline', cursive;
  font-family: 'Oswald', sans-serif;
}

nav {
  height: 115px;
  background-color: rgba(207, 180, 146, 0.364);
  color: whitesmoke;
  text-shadow: 1px 1px 4px rgba(113, 113, 113, 0.46), 1px 1px 4px #ccc;
  display: flex;
}

nav li {
  text-decoration: none;
  display: flex;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-size-adjust: 25px;
  width: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent tan;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;

}

ul {
  display: table;
  margin: 0 auto;
}

ul li {
  display: inline-block;
}

ul li:hover {
  background: rgba(122, 115, 110, 0.604);
}

ul li:hover ul {
  display: block;
}

ul li ul {
  text-decoration: none;
  position: absolute;
  width: 50px;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color:rgb(0, 0, 0);
  padding: 1rem;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
}

a:active {
  text-decoration: none;
}

body {
  background-image: url('../img/welcome2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Allerta Stencil', sans-serif;
  align-items: center;
  position: relative;
  background-attachment: fixed;

}

main {
  width: 100%;
  min-height: 960px;
  grid-template: 6/6;
  display: grid;
  background: rgb(221, 180, 159);
  background: radial-gradient(circle, rgba(221, 180, 159, 0.25) 0%, rgba(44, 44, 52, 1) 100%);

}

div.answer-container {
  min-width: 80%;
  max-width: 100%;
  margin: 0 auto;
  border: 4px rgba(255, 255, 255, 0.099) solid;
  background-color: rgba(250, 235, 215, 0.509);
  grid-row: 1 / 4;
  display: grid;
  max-height: 640px;
  box-sizing: border-box;
  margin-top: 1rem;
  border-radius: 1rem;
  grid-template-rows: 5fr;
  padding-bottom: 2rem;

}

#responseContainer {
  display: flex;
  grid-column: 2/3;
 
}
div#response {
  max-width: 220px;
  max-height: 220px;
  background-color: rgba(255, 255, 255, 0.232);
  justify-content: space-evenly;
  margin: 1rem auto;
  grid-row: 3;
  border-radius: 3px;
  border-radius: 1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

 
}

div#question {
  margin: auto;
  border-radius: 3px;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/3;
  max-width: 80%;
  min-width: 60%;
  margin-top: 10%;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  border: 4px solid rgba(255, 255, 255, 0.213);
  background-color: rgba(0, 0, 0, 0.245);
  border-radius: 1rem;
  text-shadow: 1px 1px 4px rgba(110, 110, 110, 0.61), 1px 1px 4px #ccc;
}

img.responsive {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  cursor: pointer;
}

button#submit {
  grid-row-end: 6;
  grid-column-end: 3;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3rem;
  background: rgba(255, 183, 0, 0.639);
  border: 3px solid rgba(42, 11, 11, 0.04);
  color: black;
  font-weight: bolder;
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.074), 1px 1px 4px #ccc;
  cursor: pointer;
  
}


button#submit:hover {
  background: rgb(255, 183, 0);
}

h2 {
  margin: 0;
  text-align: center;
  padding: 1rem;
}

footer {
  padding-top: 1rem;
  text-align: center;
  background-color: transparent tan;
}

footer p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
