* {
  margin: 0px;
  padding: 0px;
  font-family: 'Allerta Stencil', sans-serif;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Bungee Hairline', cursive;
  font-family: 'Oswald', sans-serif;
}

nav {
  height: 115px;
  background-color: rgba(207, 180, 146, 0.364);
  color: whitesmoke;
  display: flex;
}

nav li {
  text-decoration: none;
  display: flex;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-size-adjust: 25px;
  width: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: transparent tan;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;

}

ul {
  display: table;
  margin: 0 auto;
}

ul li {
  display: inline-block;
}

ul li:hover {
  background: rgba(122, 115, 110, 0.604);
}

ul li:hover ul {
  display: block;
}

ul li ul {
  text-decoration: none;
  position: absolute;
  width: 50px;
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color:rgb(0, 0, 0);
  padding: 1rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: whitesmoke;
}

a:active {
  text-decoration: none;
}

body {
  background-image: url('../img/welcome2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  font-family: 'Allerta Stencil', sans-serif;
  align-items: center;
  position: relative;
  background-attachment: fixed;

}

main {
  width: 100%;
  min-height: 960px;
  grid-template: 6/6;
  display: grid;
  background: rgb(221, 180, 159);
  background: radial-gradient(circle, rgba(221, 180, 159, 0.25) 0%, rgba(44, 44, 52, 1) 100%);

}


h1 {
  /* position: relative; */
  padding: 3rem;
  text-align: center;
  font-family: 'Crimson Text', serif;
  border: 5px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background: rgb(128, 128, 128, .5);
  margin: auto;
  border-radius: 1rem;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

main article section {
  padding: 2rem;
  margin: auto;
  overflow: auto;
  height: 500px;
  width: 450px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: lighter;
  background: rgb(128, 128, 128, .5);
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

img {
  border-radius: 50rem;
  padding: 0.2rem;
  align-items: center;
}

menu.menubar {
  background-color: rgb(0, 0, 0);
  color: white;
  box-sizing: border-box;
  font-family: 'allerta', sans-serif;
  min-height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  width: 100%;
}

li
{
   display:block;
  
   width:300px; 
   height:auto; 
   align-items: center;
   margin: 0 auto;
}

h2 {
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-size: 30px;
  font-style: italic;
}
h3{
  text-align: center;
  padding: 1rem;
}


.grid-container {
  margin: 7rem;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent tan;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

footer {
  padding-top: 1rem;
  text-align: center;
  background-color: transparent tan;
}

footer p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
